In [1]:
!pip install rake-nltk # installing rake

# importing the required libraries and packages
from rake_nltk import Rake
import pandas as pd

Collecting rake-nltk
  Downloading https://files.pythonhosted.org/packages/8e/c4/b4ff57e541ac5624ad4b20b89c2bafd4e98f29fd83139f3a81858bdb3815/rake_nltk-1.0.4.tar.gz
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from rake-nltk) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->rake-nltk) (1.15.0)
Building wheels for collected packages: rake-nltk
  Building wheel for rake-nltk (setup.py) ... done
  Created wheel for rake-nltk: filename=rake_nltk-1.0.4-py2.py3-none-any.whl size=7819 sha256=cdb6bda00c9a357c02b03b74fe7bf426800af07943c6c2aace2ce9c6fcd93309
  Stored in directory: /root/.cache/pip/wheels/ef/92/fc/271b3709e71a96ffe934b27818946b795ac6b9b8ff8682483f
Successfully built rake-nltk
Installing collected packages: rake-nltk
Successfully installed rake-nltk-1.0.4

In [13]:
# reading the netflix data set and assigning columns. 
# Dropping any na values in the dataset.
df = pd.read_csv('/content/netflix_titles.csv') 
df = df[['title', 'type', 'director', 'cast','description']]
df = df.dropna()
df.head(3) # display the first 3

   title  ...                                        description
1   7:19  ...  After a devastating earthquake hits Mexico Cit...
2  23:59  ...  When an army recruit is found dead, his fellow...
3      9  ...  In a postapocalyptic world, rag-doll robots hi...

[3 rows x 5 columns]

In [14]:
df['keywords'] = '' # creating a keyword column

for index, row in df.iterrows(): # iterating through the description and obtaining the keywords using rake
    plot = row['description']
    r = Rake()
    r.extract_keywords_from_text(plot)
    key_words_dict_scores = r.get_word_degrees()
    row['keywords'] = list (key_words_dict_scores.keys())

df.drop(columns=['description'], inplace=True) # remove the description column 
df.head(3) # display the first 3 data points

   title  ...                                           keywords
1   7:19  ...  [devastating, earthquake, hits, mexico, city, ...
2  23:59  ...  [forced, confront, army, recruit, terrifying, ...
3      9  ...  [dangerous, machines, rag, exterminate, fear, ...

[3 rows x 5 columns]

In [15]:
# mapping the data 
df['title'] = df['title'].map(lambda x: x.split(','))
df['cast'] = df['cast'].map(lambda x: x.split(',')[:3])
df['director'] = df['director'].map(lambda x: x.split(','))
df['type'] = df['type'].map(lambda x: x.split(','))

# lowercase and joining the names, movies, and cast
for i, r in df.iterrows():
  r['title'] = [x.lower().replace(' ', '') for x in r['title']]
  r['cast'] = [x.lower().replace(' ', '') for x in r['cast']]
  r['director'] = [x.lower().replace(' ','') for x in r['director']]
  r['type'] = [x.lower().replace(' ','') for x in r['type']]

df.head(3) #looking at the first 3 data points

     title  ...                                           keywords
1   [7:19]  ...  [devastating, earthquake, hits, mexico, city, ...
2  [23:59]  ...  [forced, confront, army, recruit, terrifying, ...
3      [9]  ...  [dangerous, machines, rag, exterminate, fear, ...

[3 rows x 5 columns]

In [7]:
df['BOW'] = '' #creaing a BOW coolumn 
columns = ['title', 'cast', 'director', 'type','keywords'] # the columns that will be added to the keywords 

# iterate over the data and add them to the keywords column
for index, row in df.iterrows():
  words = ' '
  for col in columns:
    words += ' '.join(row[col]) + ' '
    row['BOW'] = words
    
df = df[['title','BOW']] # assigning the datagrame

In [10]:
df.to_csv('title_and_BOW.csv', index=False) # saving the data to be used for modeling