In [1]:
!pip install rake-nltk # installing rake

# importing the required libraries and packages
from rake_nltk import Rake
import pandas as pd

Requirement already satisfied: rake-nltk in /usr/local/lib/python3.7/dist-packages (1.0.4)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from rake-nltk) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->rake-nltk) (1.15.0)

In [21]:
# reading the netflix data set and assigning columns. 
# Dropping any na values in the dataset.
df = pd.read_csv('/content/netflix_titles.csv') 
df = df[['title', 'type', 'director', 'cast','description']]
df = df.dropna()
df.head(3) # display the first 3

   title  ...                                        description
1   7:19  ...  After a devastating earthquake hits Mexico Cit...
2  23:59  ...  When an army recruit is found dead, his fellow...
3      9  ...  In a postapocalyptic world, rag-doll robots hi...

[3 rows x 5 columns]

In [22]:
df['keywords'] = '' # creating a keyword column

for index, row in df.iterrows(): # iterating through the description and obtaining the keywords using rake
    plot = row['description']
    r = Rake()
    r.extract_keywords_from_text(plot)
    key_words_dict_scores = r.get_word_degrees()
    row['keywords'] = list (key_words_dict_scores.keys())

df.drop(columns=['description'], inplace=True) # remove the description column 
df.head(3) # display the first 3 data points

   title  ...                                           keywords
1   7:19  ...  [trapped, survivors, trying, desperately, deva...
2  23:59  ...  [army, recruit, terrifying, secret, found, dea...
3      9  ...  [rag, brave, newcomer, joins, postapocalyptic,...

[3 rows x 5 columns]

In [24]:
# mapping the data 
df['title'] = df['title'].map(lambda x: x.split(' '))
df['cast'] = df['cast'].map(lambda x: x.split(',')[:3])
df['director'] = df['director'].map(lambda x: x.split(','))
df['type'] = df['type'].map(lambda x: x.split(','))

# lowercase and joining the names, movies, and cast
for i, r in df.iterrows():
  r['title'] = [x.lower().replace(' ', '') for x in r['title']]
  r['cast'] = [x.lower().replace(' ', '') for x in r['cast']]
  r['director'] = [x.lower().replace(' ','') for x in r['director']]
  r['type'] = [x.lower().replace(' ','') for x in r['type']]

df.head(3) #looking at the first 3 data points

     title  ...                                           keywords
1   [7:19]  ...  [trapped, survivors, trying, desperately, deva...
2  [23:59]  ...  [army, recruit, terrifying, secret, found, dea...
3      [9]  ...  [rag, brave, newcomer, joins, postapocalyptic,...

[3 rows x 5 columns]

In [25]:
df['BOW'] = '' #creaing a BOW coolumn 
columns = ['title', 'cast', 'director', 'type','keywords'] # the columns that will be added to the keywords 

# iterate over the data and add them to the keywords column
for index, row in df.iterrows():
  words = ' '
  for col in columns:
    words += ' '.join(row[col]) + ' '
    row['BOW'] = words

    
df2 = df[['BOW']] # assigning the datagrame

In [29]:
df2.head(50)

                                                  BOW
1    7:19 demiánbichir héctorbonilla oscarserrano ...
2    23:59 teddchan stellachung henleyhii gilbertc...
3    9 elijahwood johnc.reilly jenniferconnelly sh...
4    21 jimsturgess kevinspacey katebosworth rober...
5    46 erdalbeşikçioğlu yaseminallen melisbirkan ...
6    122 aminakhalil ahmeddawood tareklotfy yasira...
7    187 samuell.jackson johnheard kellyrowan kevi...
8    706 divyadutta atulkulkarni mohanagashe shrav...
9    1920 rajneeshduggal adahsharma indraneilsengu...
10   1922 thomasjane mollyparker dylanschmid zakhi...
13   2,215 artiwarakongmalai nottaponboonprakob mo...
14   3022 omarepps katewalsh mirandacosgrove johns...
15   oct-01 sadiqdaba davidbailie kayodeolaiya kun...
17   22-jul andersdanielsenlie jonøigarden jonasst...
18   15-aug rahulpethe mrunmayeedeshpande adinathk...
20   ​​kuch bheege alfaaz geetanjalithapa zainkhan...
21   ​goli soda 2 samuthirakani bharathseeni vinot...
22   ​maj rati ​​keteki adilhussain shakilimtiaz m...
23   ​mayurakshi soumitrachatterjee prasenjitchatt...
27   #alive yooah-in parkshin-hye choil movie city...
28   #annefrank - parallel stories helenmirren gen...
31   #friendbutmarried adipatidolken vaneshapresci...
32   #friendbutmarried 2 adipatidolken mawardejong...
33   #realityhigh nestacooper katewalsh johnmichae...
34   #roxy jakeshort sarahfisher booboostewart mic...
36   #selfie flaviahojda crinasemciuc olimpiamelin...
37   #selfie 69 maiamorgenstern olimpiamelinte cri...
39   ¡ay, mi madre! estefaníadelossantos secundela...
40   çarsi pazar erdemyener ayhantaş eminolcay muh...
41   ég man þig jóhanneshaukurjóhannesson ágústaev...
42   çok filim hareketler bunlar ayçaerturan aydan...
43   òlòtūré beverlyosu sharonooja omowunmidada ke...
44   æon flux charlizetheron martoncsokas jonnylee...
46   1 chance 2 dance lexigiovagnoli justinray rae...
47   1 mile to you billycrudup grahamrogers lianal...
48   10 days in sun city ayomakun adesuaetomi rich...
49   10 jours en or franckdubosc clauderich mariek...
50   10,000 b.c. stevenstrait camillabelle cliffcu...
54   100 meters danirovira karraelejalde alexandra...
57   100% halal anisarahma ariyowahab ananditodwis...
59   1000 rupee note ushanaik sandeeppathak shrika...
60   12 round gun samupton jaredabrahamson markboo...
62   13 cameras pjmccabe briannemoncrief sarahbald...
65   13 sins markwebber rutinawesley devongraye da...
68   14 blades donnieyen zhaowei wuchun daniellee ...
69   14 cameras nevillearchambault ambermidthunder...
71   16 blocks brucewillis mosdef davidmorse richa...
72   17 again zacefron lesliemann matthewperry bur...
73   18 presents vittoriapuccini benedettaporcarol...
74   1898: our last men in the philippines luistos...

In [30]:
df = pd.read_csv('/content/netflix_titles.csv') 
df = df.dropna()
df.head(3)

  show_id  ...                                        description
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...

[3 rows x 12 columns]

In [31]:
result = pd.concat([df['title'], df2['BOW']], axis=1)
result.head(3)

   title                                                BOW
1   7:19   7:19 demiánbichir héctorbonilla oscarserrano ...
2  23:59   23:59 teddchan stellachung henleyhii gilbertc...
3      9   9 elijahwood johnc.reilly jenniferconnelly sh...

In [34]:
result['BOW'][150]

' a billion colour story dhruvapadmakumar gauravsharma vasuki padmakumarnarasimhamurthy movie increasingly intolerant world curious child family faces financial strain idealistic interfaith parents observes '

In [36]:
result.to_csv('title_and_BOW.csv', index=False) # saving the data to be used for modeling