In [3]:
# import the required libraries/packages
import numpy as np
import pandas as pd 

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
# load data 
df = pd.read_csv('/content/title_and_BOW.csv')
 
df = df.sample(frac=0.9,random_state=1000) # shriking the datasize
df.reset_index() # reseting the index
# removing nan data points
df['title'] = df['title'].replace(np.nan, 'none', regex=True)
df['BOW'] = df['BOW'].replace(np.nan, 'none', regex=True)
# looking at the first 3
df.head(3)

                                  title                                                BOW
123                     A Family Affair   a family affair tomfassaert tomfassaert movie...
403   April and the Extraordinary World   april and the extraordinary world angelagalup...
3984                   The Bridge Curse   the bridge curse jclin verayen summermeng les...

In [5]:
sentences = df['BOW'].values # getting the bag of word values from the column
y = df['title'].values  # getting the title values from the column

# Split arrays or matrices into random train and test subsets

Xtrain, Xtest, y_train, y_test = train_test_split(sentences, y, test_size=0.33, random_state=1000)
Xtrain.shape, y_train.shape, Xtrain

((3002,),
 (3002,),
 array([' blue valentine ryangosling michellewilliams faithwladyka derekcianfrance movie life filled golden days romance dean muddle cindy hearken back possibility languishing marriage ',
        ' the worthy alisuliman mahmoudalatrash sameralmasri alif.mostafa movie man puts civilization family near future thing peril past compound reluctantly lets outsiders ',
        ' gang of the caribbean djédjéapali eriqebouaney adamaniane jean-claudeflamand-barny movie gang life idealistic robbers west indian expatriate named jimmy joins disillusioned betrayal violence soon follow 1970s france ',
        ...,
        " what still remains luluantariksa colino'donoghue mimirogers joshmendoza movie unknown man survive alone post village may imagines young woman apocalypse offered protection struggling ",
        ' jada kathir kishorekumarg. roshini kumaran movie wishing settle team participate coach ’ old score wishes promising soccer player defies sport leads violent form ',
        ' pyaar ka punchnama 2 kartikaaryan nushratbharucha sonallisehgall luvranjan movie idea three young bachelors find relationships true romance reality pursued far removed '],
       dtype=object))

In [7]:
# Convert a collection of text documents to a matrix of token counts

vectorizer = CountVectorizer()
vectorizer.fit(Xtrain)

X_train = vectorizer.transform(Xtrain)
X_test = vectorizer.transform(Xtest)
X_train

<3002x21314 sparse matrix of type '<class 'numpy.int64'>'
	with 65754 stored elements in Compressed Sparse Row format>

In [8]:
# creating logistic Regression model
clf = LogisticRegression()
clf.fit(X_train, y_train)
score = clf.score(X_test, y_test)

print("Accuracy: ", score) # obtaining the final socre.

Accuracy:  0.03380662609871535