In [6]:
# import required libraries and packages 
import numpy as np 
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import sigmoid_kernel

In [7]:
df = pd.read_csv('/content/title_and_BOW.csv') # reading the dataset
df['title'] = df['title'].str.lower() # converting to str and lowercase all entire column
df.head(10)

   title                                                BOW
0   7:19   7:19 demiánbichir héctorbonilla oscarserrano ...
1  23:59   23:59 teddchan stellachung henleyhii gilbertc...
2      9   9 elijahwood johnc.reilly jenniferconnelly sh...
3     21   21 jimsturgess kevinspacey katebosworth rober...
4     46   46 erdalbeşikçioğlu yaseminallen melisbirkan ...
5    122   122 aminakhalil ahmeddawood tareklotfy yasira...
6    187   187 samuell.jackson johnheard kellyrowan kevi...
7    706   706 divyadutta atulkulkarni mohanagashe shrav...
8   1920   1920 rajneeshduggal adahsharma indraneilsengu...
9   1922   1922 thomasjane mollyparker dylanschmid zakhi...

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import svm
from sklearn import preprocessing


# Convert a collection of raw documents to a matrix of TF-IDF features.

vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1,3), sublinear_tf=True)
X = vectorizer.fit_transform(df['BOW'])

y = df['title'].values.astype(str)

le = preprocessing.LabelEncoder() #using label encoder to encode text data
y = le.fit_transform(y) #passing in my target label to encode 

from sklearn.metrics.pairwise import linear_kernel
# creating my model

linear_model = linear_kernel(X)

title_index = pd.Series(df.index, index=df['title']).drop_duplicates() #indexing and removing and duplicates

In [9]:
# get recommendations function
# passing in my liner kernel model
def get_recommendations(title, linear_model=linear_model):
  title = title.lower() # lowercase the title
  index = title_index[title] # indexing
  scores = list(enumerate(linear_model[index])) # get the score into a list
  scores = sorted(scores, key=lambda x: x[1], reverse=True) # sorting in order
  scores = scores[1:11] # only the top ten excluding the input
  movie_index = [i[0] for i in scores] # getting the index

  
  return df['title'].iloc[movie_index],scores # returning the movie list and scores

In [10]:
get_recommendations("a christmas prince") # calling the fucntion to get the best  match

(114              a christmas prince: the royal baby
 115           a christmas prince: the royal wedding
 155                        a princess for christmas
 928                         christmas with a prince
 4900                               woody woodpecker
 3208    prince of peoria: a christmas moose miracle
 3952                               the black prince
 4202                                       the king
 2584                                          maska
 3206                                         prince
 Name: title, dtype: object,
 [(114, 0.14348980328432034),
  (115, 0.13645974896559568),
  (155, 0.06789377722184348),
  (928, 0.059161605531370835),
  (4900, 0.036127787837933294),
  (3208, 0.03243150742855111),
  (3952, 0.03073643244670533),
  (4202, 0.03067709441074839),
  (2584, 0.030676217413052844),
  (3206, 0.030308661002913382)])